
.main {
    display: flex;
    border-radius: 5px;
    align-items: center;
    background-color: blue;
    height: 85px;
    justify-content: space-between;
  }
  
  .label {
    font-size: 37px;
    font-weight: bold;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-basis: 50px;
    color: white;
  }
  
  .max {
    height: 35px;
    border-radius: 5px;
    overflow: hidden;
    box-sizing: border-box;
    flex: 1;
    background-color: lightgray;
  }
  .health {
    background-color: #0566fa;
    transition: 0.35s;
  }
  .info {
    display: flex;
    font-family: cursive;
    font-style: oblique;
    gap: 24px
  }
  
  .name,
  .level {
    font-size: 32px;
  }