/* .container {
    margin: 20px auto;
    width:700px;
    height:400px;
    display:grid;
    grid-template-columns: auto auto;
    grid-row: auto auto;
    grid-column-gap: 20px;
    grid-row-gap: 20px;
} */

#body{
    height: 50%;
    display: grid;
    grid-template-columns: 4;
    grid-template-rows: 1;
}

.healthBar {
    /* display: flex; */
    display: flex;
    grid-column-start: 2;
    grid-column-end: span 2;
    height: auto;    
}

#playerSummary{
    float: left;
}
#opponentSummary{
    float:right;
}

#characterContainer{
    margin: 0;
    position: absolute;
    top: 50%;
    left: 50%;
    width: 50%;
    transform: translate(-50%, -50%);
    background-image: url('../../assets/fightingBackgrounds/vibrantPark.gif');
    background-repeat: no-repeat;
}

#playerPos{   
    position: relative;
    left: 20%;
    width:250px;
    height:250px;
    display:inline-block;
}

#opponentPos{
    position: relative;
    right: -20%;
    width:250px;
    height:250px;
    display:inline-block;
    transform: scaleX(-1);
}

#textPosition{
    background-color: white;
    border-radius: 5px;
    font-size: 32px;
    position:absolute;
    left:45%;
    bottom: 30%;
}

#btnPosition{
    position: absolute;
    z-index: 2;
    bottom: 20%;
    left:39%;

}

.buttonAttack {
    border:0px;
    background-color: rgb(255,0,0,0.6);
    border-radius:6px;
    color: white;
    padding: 15px 32px;

    font-size: 32px;
    margin:5px;
    transition-duration: 0.2s;
}

.buttonAttack:hover {
    background-color:rgb(255,0,0,0.8)

}
.buttonDefend {
    border:0px;
    background-color: rgb(0,0,255,0.6);
    border-radius:6px;
    color: white;
    padding: 15px 32px;

    font-size: 32px;
    margin:5px;
    transition-duration: 0.2s;
    }
    
.buttonDefend:hover {
    background-color:rgb(0,0,255,0.8)

}

.healthBar {
    display: flex;
    height: auto;
    
}

#opponentSummary{
    float:right;

}

#btnPosition{
    position: absolute;
    z-index: 2;
    bottom: 30%;
    left:35%;

}
#playerPos{
    
    width:250px;
    height:250px;
    display:inline-block;
}

#opponentPos{
    width:250px;
    height:250px;
    display:inline-block;
    transform: scaleX(-1);
}
#characterContainer{
    position:absolute;
    bottom: 57%;
    left:30%;
    z-index: 3;
}
#body{
    margin-left: auto;
    margin-right: auto;
    width:50%;
}
#textPosition{
    background-color: white;
    border-radius: 5px;
    font-size: 32px;
    position:absolute;
    left:40%;
}
