.container {
    margin: 20px auto;
    width:700px;
    height:400px;
    display:grid;
    grid-template-columns: auto auto;
    grid-row: auto auto;
    grid-column-gap: 20px;
    grid-row-gap: 20px;
}

.buttonAttack {
    border:0px;
    background-color: rgb(255,0,0,0.6);
    border-radius:6px;
    color: white;
    padding: 15px 32px;

    font-size: 32px;
    margin:5px;
    transition-duration: 0.2s;
}

.buttonAttack:hover {
    background-color:rgb(255,0,0,0.8)

}
.buttonDefend {
    border:0px;
    background-color: rgb(0,0,255,0.6);
    border-radius:6px;
    color: white;
    padding: 15px 32px;

    font-size: 32px;
    margin:5px;
    transition-duration: 0.2s;
    }
    
.buttonDefend:hover {
    background-color:rgb(0,0,255,0.8)

}

.healthBar {
    display: flex;
    height: auto;
    
}

#playerSummary{

}
#opponentSummary{
    float:right;

}

#btnPosition{
    position: absolute;
    z-index: 2;
    bottom: 30%;
    left:35%;

}
#playerPos{
    
    width:250px;
    height:250px;
    display:inline-block;
}

#opponentPos{
    width:250px;
    height:250px;
    display:inline-block;
    transform: scaleX(-1);
}
#characterContainer{
    position:absolute;
    bottom: 57%;
    left:30%;
    z-index: 3;
}
#body{
    margin-left: auto;
    margin-right: auto;
    width:50%;
}
#textPosition{
    background-color: white;
    border-radius: 5px;
    font-size: 32px;
    position:absolute;
    left:40%;
}