.container {
    margin: 20px auto;
    width:700px;
    height:400px;
    display:grid;
    grid-template-columns: auto auto;
    grid-row: auto auto;
    grid-column-gap: 20px;
    grid-row-gap: 20px;
}
Canvas{
    position: absolute;
    z-index: 2;
    top: 150px;
    left:550px;
}

