canvas{
    width: 100vw;
    height: 100vh;
    background-image: url(../../../assets/fightingBackgrounds/vibrantPark.gif);
    background-repeat: no-repeat;
    background-size: contain;
}

flexBattle {
    display: flex;
    flex-wrap: wrap;
}