.main-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  padding: 20px;
}

.signup-container {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  padding: 20px;
}

.form-input {
  width: 100%;
  padding: 12px 20px;
  margin: 8px 0;
  box-sizing: border-box;
  border: none;
  border-bottom: 2px solid gray;
  font-size: 16px;
  border-radius: 8px;
}

.signup-button {
  font-family: 'Press Start 2P', cursive;
  width: 100%;
  background-color: rgba(194, 63, 238, 0.93);
  color: white;
  padding: 14px 20px;
  margin: 8px 0;
  border: none;
  cursor: pointer;
  font-size: 36px;
  border-radius: 8px;
}

.signup-button:hover {
  background-color: rgba(136, 59, 180, 0.764);
}


.signup-class {
  color: rgba(194, 63, 238, 0.93);
  font-family: 'Press Start 2P', cursive;
  font-size: 24px;
}

@media (max-width: 600px) {
  .form-input {
    font-size: 14px;
  }

  .signup-button {
    font-size: 24px;
  }

  .signup-class {
    font-size: 18px;
  }
}