@import url('https://fonts.googleapis.com/css?family=Alfa+Slab+One');

.logInOut-container {
    margin: 150px auto;
    text-align: center;
    display: flex;
    align-items: center;
    flex-direction: column;
}

.clash-title {
    font-family: 'Press Start 2P', cursive;
    text-align: left;
    font-size: 74px;
    letter-spacing: 4px;
    color: rgba(194, 63, 238, 0.93);
    text-shadow: rgba(0, 0, 0, 0.56) -12px 11px 3px;
    display: flex;
    justify-content: flex-start;
    margin-left: 24px;
    margin-right: 24px;
    margin-top: 12px;
    text-align: center;
}

.logInOut {
    /* font-family: "Alfa Slab One", cursive; */
    font-family: 'Press Start 2P', cursive;
    display: flex;
    border: 1px solid #fff;
    background-color: rgba(194, 63, 238, 0.93);
    border-radius: 6px;
    padding: 15px 32px;
    font-size: 48px;
    margin: 20px 0;
    transition-duration: 0.2s;
    justify-content: center;
    width: 400px;
    height: 100px;
    align-items: center;
}

.logInOut:hover {
    background-color: rgba(136, 59, 180, 0.764);
    color: #fff;
    border: 1px solid rgb(4, 4, 4);

}

.clash-title {
    -webkit-animation-name: zoomInDown;
    animation-name: zoomInDown;
    -webkit-animation-duration: .8s;
    animation-duration: .8s;
    -webkit-animation-fill-mode: both;
    animation-fill-mode: both;
}

@-webkit-keyframes zoomInDown {
    0% {
        opacity: 0;
        -webkit-transform: scale3d(.1, .1, .1) translate3d(0, -1000px, 0);
        transform: scale3d(.1, .1, .1) translate3d(0, -1000px, 0);
        -webkit-animation-timing-function: cubic-bezier(0.550, 0.055, 0.675, 0.190);
        animation-timing-function: cubic-bezier(0.550, 0.055, 0.675, 0.190);
    }

    60% {
        opacity: 1;
        -webkit-transform: scale3d(.475, .475, .475) translate3d(0, 60px, 0);
        transform: scale3d(.475, .475, .475) translate3d(0, 60px, 0);
        -webkit-animation-timing-function: cubic-bezier(0.175, 0.885, 0.320, 1);
        animation-timing-function: cubic-bezier(0.175, 0.885, 0.320, 1);
    }
}

@keyframes zoomInDown {
    0% {
        opacity: 0;
        -webkit-transform: scale3d(.1, .1, .1) translate3d(0, -1000px, 0);
        transform: scale3d(.1, .1, .1) translate3d(0, -1000px, 0);
        -webkit-animation-timing-function: cubic-bezier(0.550, 0.055, 0.675, 0.190);
        animation-timing-function: cubic-bezier(0.550, 0.055, 0.675, 0.190);
    }

    60% {
        opacity: 1;
        -webkit-transform: scale3d(.475, .475, .475) translate3d(0, 60px, 0);
        transform: scale3d(.475, .475, .475) translate3d(0, 60px, 0);
        -webkit-animation-timing-function: cubic-bezier(0.175, 0.885, 0.320, 1);
        animation-timing-function: cubic-bezier(0.175, 0.885, 0.320, 1);
    }
}