.endmenu-page {
    margin: 150px auto;
    text-align: center;
    display: flex;
    align-items: center;
    flex-direction: column;
}

.end-button {
    display: flex;
    border: 0px;
    background-color: rgb(255,0,0,0.6);
    border-radius: 6px;
    padding: 15px 32px;
    font-size: 36px;
    margin: 15px 0;
    transition-duration: 0.2s;
    width: 400px;
    height: 140px;
    align-items: center;
    justify-content: center;
    font-family: "Alfa Slab One", cursive;

    }
    
    .end-button:hover {
    background-color:rgb(255,0,0,0.8)
    
    }